:root {
  --red: #DB5461;
  --black: #191919;
  --white: #FAFAFA;

  --primary: var(--red);
}

body.light {
  --bg-color: var(--white);
  --fg-color: var(--black);
  --gray: #AAA;

  --pre-border-color: #666;
  --pre-fill-color: var(--black);
  --pre-title-color: var(--white);

  --code-fill-color: rgba(0, 0, 0, 0.05);
}

body.dark {
  --bg-color: var(--black);
  --fg-color: var(--white);
  --gray: #666;

  --pre-border-color: var(--white);
  --pre-fill-color: rgba(255, 255, 255, 0.05);
  --pre-title-color: var(--white);

  --code-fill-color: rgba(255, 255, 255, 0.15);
}
